@page "/badges"
@using SpeiderappPWA.Pages.Badges.Components
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h1>Badges</h1>

<p>This component demonstrates fetching data from the API.</p>

<span class="search-bar">
    <button  @onclick="ToggleFilter" class="filter"><i class="fa fa-filter"></i></button>
    <form class="search-form">
        <input class="search-input" type="text" placeholder="Search">
        <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
    </form>
    <div class="filter-options @_collapsed">
        <div class="filter-option">
            @_collapsed
            Option 1
            <br>
            <input type="text">
        </div>
        <div class="filter-option">
            Option 2
            <br>
            <input type="checkbox">
        </div>
        <div class="filter-option">
            Option 3
            <br>
            <input type="checkbox">
        </div>
    </div>
</span>



<div class="separator"><hr class="inline-line"></div>
<i class="fa fa-th @_gridSelected" @onclick="GridView"></i><i class="fa fa-list @_listSelected" @onclick="ListView"></i>
<br>
<br>
@if (_badges == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="badge-table @_list">

        @foreach (var badge in _badges)
        {
            <Badge name="@badge.Name" ID="@badge.Id" Description="@badge.Description" List="@_list" Logo="@BadgeLogo(badge.Image)" Complete="@badge.IsComplete"/>
        }
    </div>
}
