@page "/badges"
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h1>Badges</h1>

<p>This component demonstrates fetching data from the API.</p>

<span class="search-bar">
    <button  @onclick="ToggleFilter" class="filter"><i class="fa fa-filter"></i></button>
    <form class="search-form">
        <input class="search-input" type="text" placeholder="Search">
        <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
    </form>
    <div class="filter-options @collapsed">
        <div class="filter-option">
            @collapsed
            Option 1
            <br>
            <input type="text">
        </div>
        <div class="filter-option">
            Option 2
            <br>
            <input type="checkbox">
        </div>
        <div class="filter-option">
            Option 3
            <br>
            <input type="checkbox">
        </div>
    </div>
</span>



<div class="separator"><hr class="inline-line"></div>
<i class="fa fa-th @gridSelected" @onclick="gridView"></i><i class="fa fa-list @listSelected" @onclick="listView"></i>
<br>
<br>
@if (badges == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="badge-table @list">
        @{
            var random = new Random();
            string border_color = "";
            string color = "";
        }
        @foreach (var badge in badges)
        {
            <a href="/badge/@badge.Id">
                <div class="badge-element @list">

   
                    <div class="badge-title @list">
                        @badge.Name
                    </div>
                    <div class="badge-description @list">
                        @badge.Description
                    </div>
                    <div class="badge-requirements @list">
                        @{
                            var numRequirements = random.Next(0, 14);
                        }
                        @for (var i = 0; i < numRequirements; i++)
                        {
                            @if (random.Next(0, 2) == 0)
                            {
                                color = "red";
                            }
                            else
                            {
                                color = "green";
                            }
                            var taskList = new List<string> {"Gi Espen penger", "Gi Espen et kompliment", "Bytt til python", "Si til Espen hvor vakker han er"};
                            var tooltip = taskList[i % taskList.Count];

                            <div class="@color dot @list" title="@tooltip"></div>
                        }

                    </div>
                    <div class="badge-image-container @list">
                        <div class="badge-image">
                            <img src="@BadgeLogo(badge.Image)" alt="badge @badge.Id logo">
                        </div>
                    </div>
                    <div class="badge-background @list" style="border-color: @border_color"></div>
                    
                    @if (badge.IsComplete)
                    {
                        <div class="badge-checkmark @list"><i class="fa fa-check"></i></div>
                    }
                </div>
            </a>
        }
    </div>
@code
{
    private string collapsed = "collapsed";
    private string gridSelected = "selected";
    private string listSelected = "";
    private string list = "";
    private void ToggleFilter()
    {
        if (collapsed == "")
        {
            collapsed = "collapsed";
        }
        else
        {
            collapsed = "";
        }
    }

    private void listView()
    {
        list = "list";
        gridSelected = "";
        listSelected = "selected";
    }

    private void gridView()
    {
        list = "";
        gridSelected = "selected";
        listSelected = "";
    }
}
}