@page "/badges"

<h1>Badges</h1>

<p>This component demonstrates fetching data from the API.</p>

@if (badges == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Completed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var badge in badges)
            {
                <tr>
                    <td><img src="@BadgeLogo(badge.Image)" alt="badge @badge.Id logo"></td>
                    <td>@badge.Name</td>
                    <td>@badge.Description</td>
                    <td>@badge.IsComplete</td>
                </tr>
            }
        </tbody>
    </table>
}
