@{
    var random = new Random();
    string border_color = "";
    string color = "";
    int numRequirements;
    int numGreen;
    double fraction;
}
<a href="/badge/@id">
    <div class="badge-element @list">
        <div class="badge-title @list">
            @name
        </div>
        <div class="badge-description @list">
            @description
        </div>
        <div class="badge-requirements @list">
            @{
                numRequirements = random.Next(0, 14);
                numGreen = 0;
            }
            @for (var i = 0; i < numRequirements; i++)
            {
                @if (random.Next(0, 2) == 0)
                {
                    color = "red";
                }
                else
                {
                    color = "green";
                    numGreen++;
                }
                var taskList = new List<string> {"Gi Espen penger", "Gi Espen et kompliment", "Bytt til python", "Si til Espen hvor vakker han er"};
                var tooltip = taskList[i % taskList.Count];
                
                <div class="@color dot @list" title="@tooltip"></div>
            }
        </div>
        <div class="badge-image-container @list">
            <div class="badge-image">
                <img src="@logo" alt="badge @id logo">
            </div>
        </div>
        <div class="badge-image-background @list">

            @{ fraction = (double) numGreen / (double) numRequirements; }
            
            <svg>
                <path d="M75,75 L75,0 A75,75 1 0,1 @RightBorderY(fraction), @RightBorderX(fraction) z"></path>
                @if (fraction > 0.5f)
                {
                    <path d="M75,75 L75,150 A75,75 1 0,1 @LeftBorderY(fraction),@LeftBorderX(fraction) z"></path>
                }
            </svg>
        </div>
        <div class="badge-background @list" style="border-color: @border_color"></div>
        
        @if (complete)
        {
            <div class="badge-checkmark @list"><i class="fa fa-check"></i></div>
        }
    </div>
</a>